:root {
	--blue: hsl(223, 87%, 63%);
	--pale-blue: hsl(223, 100%, 88%);
	--light-red: hsl(354, 100%, 66%);
	--gray: hsl(0, 0%, 59%);
	--very-dark-blue: hsl(209, 33%, 12%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.25rem;
	text-align: center;
}

main {
	margin: 1em;
}

.logo {
	width: 60px;
	margin-top: 2em;
}

h1 {
	font-size: 1.3em;
	font-weight: 300;
	margin: 1em 0 0.5em;
	color: var(--gray);
}

h1 span {
	font-weight: 700;
	color: var(--very-dark-blue);
}

.sub_info {
	font-size: 0.7em;
	margin: 1em 0 1.5em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	height: 140px;
	width: auto;
}

.validation {
	display: flex;
	flex-direction: column;
}

.validation_info {
	display: none;
	font-size: 0.7rem;
	font-style: italic;
	color: var(--light-red);
	margin: 0 0 2em;
}

.validation_error {
	display: block;
}

.email_input {
	width: 270px;
	height: 40px;
	border: 1px solid var(--pale-blue);
	outline: var(--pale-blue);
	border-radius: 30px;
	padding-left: 2em;
}

.input_error {
	border: 1px solid var(--light-red);
	outline: var(--light-red);
}

.email_input::placeholder {
	color: var(--pale-blue);
}

.button_form {
	font-weight: 600;
	width: 270px;
	height: 40px;
	border: 1px solid var(--blue);
	border-radius: 30px;
	background-color: var(--blue);
	color: #fff;
	box-shadow: 0px 20px 24px -6px rgba(78, 127, 243, 0.4);
	transition: opacity 0.5s;
	cursor: pointer;
}

.button_form:hover {
	opacity: 0.8;
}

.dashboard {
	max-width: 90%;
	height: auto;
	margin: 2em auto;
}

.social_media {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fa-brands {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	padding: 1em;
	margin: 0.5em;
	border: 1px solid var(--pale-blue);
	border-radius: 50%;
	color: var(--blue);
	transition: background-color 0.5s, color 0.5s;
	cursor: pointer;
}

.fa-brands:hover {
	background-color: var(--blue);
	color: white;
}

footer {
	font-size: 0.7em;
	text-align: center;
	margin: 0 1em;
	color: var(--gray);
	line-height: 1.5em;
}

@media (min-width: 768px) {
	.logo {
		width: 100px;
	}

	h1 {
		font-size: 1.6em;
	}

	main p {
		font-size: 0.9em;
	}

	form {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: start;
	}

	.email_input {
		width: 380px;
		height: 45px;
	}

	.validation_info {
		margin-right: 13em;
	}

	.button_form {
		width: 230px;
		height: 45px;
		top: 0;
	}

	.dashboard {
		max-width: 70vh;
		margin: 0 auto;
	}
}
